<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>My Wonderland</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body {
            font-family: 'Chicle', cursive;
            background-color: #0b0c10;
            color: #66fcf1;
        }

        a {
            color: #66fcf1;
            text-decoration: underline;
        }

        h1, .h1 {
            font-size: 5em;
        }

        h2, .h2 {
            font-size: 3em;
        }

        .col-wonderland {
            /*color: black;*/
            text-align: center;
        }

        :root {
            --jumbotron-padding-y: 3rem;
        }
        .navbar {
            font-size: 2em;
            color: white;
        }
        .navbar a {

            text-decoration: none;
        }

        .jumbotron {
            padding-top: var(--jumbotron-padding-y);
            padding-bottom: var(--jumbotron-padding-y);
            margin-bottom: 0;
            /*background-color: #fff;*/
        }
        @media (min-width: 768px) {
            .jumbotron {
                padding-top: calc(var(--jumbotron-padding-y) * 2);
                padding-bottom: calc(var(--jumbotron-padding-y) * 2);
            }
        }

        .jumbotron p:last-child {
            margin-bottom: 0;
        }

        .jumbotron-heading {
            font-weight: 300;
        }

        .jumbotron .container {
            max-width: 40rem;
        }

        footer {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        footer p {
            margin-bottom: .25rem;
        }

        .row-profile-avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
        }

        figure.profile-avatar  {

        }
        figure.profile-avatar > img {
            width: 200px;
            border-radius: 50%;
            border: 10px solid #66fcf1;
            margin: 0 auto;
            display: table;
        }
        figure.profile-avatar .figure-caption {
            text-align: center;
            font-size: 2em;
        }

        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
    </style>
</head>

<body>

<header>
    <div class="navbar navbar-dark">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong><span style="font-size:1.3em">&#9786;</span> My Wonderland</strong>
            </a>
            {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">#}
                {#<span class="navbar-toggler-icon"></span>#}
            {#</button>#}
            {% if logged == true %}
                <a class="btn btn-outline-light" href="/logout">End session</a>
            {% endif %}
        </div>
    </div>
</header>

<main role="main">
    {% if logged == false %}
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Call to action</h1>
                <p class="lead text-muted">This is... .. call to action</p>
                <p>
                    <a href="/auth" class="btn btn-primary my-2">Main call to action</a>
                </p>
            </div>
        </section>
    {% endif %}


    {% if logged == true %}
        <div class="container">
            <div class="row">
                <div class="col row-profile-avatar">
                <figure class="profile-avatar">
                    <img src="{{ me.spotify }}" alt="Avatar of {{ me.displayName }}"/>
                </figure>
                </div>
            </div>
            <div class="row">
                <div class="col col-wonderland">
                    <h2>{{ me.displayName }}, your wonderland is</h2>
                    <h1>{{ report.0.city }}.</h1>
                    <p class="h3">This is where there're more concerts performed by the artists you love.</p>
                </div>
            </div>
            <br>
            <br>
            <div class="row" style="color: white">
                <div class="col">
                    <h3 style="text-align: center">But you'd love these places too:</h3>
                    <div style="display: flex; justify-content: center">
                        <ol class="h3" start="2">
                            {% for land in report %}
                                {% if not loop.first %}
                                    <li>{{ land.city }}, {{ land.country }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>


            {#<div class="row" style="height: 480px; width: 600px">#}
                {#{% for artist in topArtists %}#}
                    {#<li>[{{ artist.songkickId }}] {{ artist.name }} <img src="{{ artist.avatar }}" alt="" style="width: 100px; height: 100px"></li>#}
                    {#<img src="{{ artist.avatar }}" alt="" class="img-fluid" style="width: 120px; height: 120px; -webkit-filter: sepia(1);#}
  {#filter: sepia(1); ">#}
                {#{% endfor %}#}

            {#</div>#}
        </div>
    {% endif %}

</main>

<footer class="text-muted">
    <div class="container">
        {#<p class="float-right">#}
            {#<a href="#">Back to top</a>#}
        {#</p>#}
        <p>My Wonderland finds the place where there're more concerts performed by the artists you love.</p>
        <p>Made with ♫ by <a href="http://colar.es">Thiago Colares</a></p>
    </div>
</footer>

</body>
</html>
