{% extends "layouts/base.twig" %}

{% block content %}
    <div class="row">
        <div class="col row-profile-avatar">
            <figure class="profile-avatar">
                <img src="{{ me.spotify }}" alt="Avatar of {{ me.displayName }}"/>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col col-wonderland">
            <h2>{{ me.displayName }}, your wonderland is</h2>
            <h1>{{ report.0.city }}.</h1>
            <p class="h3">This is where there're more concerts performed by the artists you love.</p>
            <p class="h4 text-muted">Based on Spotify + Songkick.</p>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="color: white">
        <div class="col">
            <h3 style="text-align: center">But you'd love these places too:</h3>
            <div style="display: flex; justify-content: center">
                <ol class="h3" start="2">
                    {% for land in report %}
                        {% if not loop.first %}
                            <li>{{ land.city }}, {{ land.country }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
